::-webkit-scrollbar {
  width: .3rem;
  height: .3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #2C1C74;
  border-radius: .3rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #583ED3;
}
